h1, h2, h3, h4, h5, h6, p, a, label {
  font-family: verdana, geneva, sans-serif;
}
.chicknumber {
  text-align: center;
  width: 30px;
}
.chicks {
  float:left;
  clear:left;
}

.section-header {
  text-align: center;
}

.chick-form {
  margin: 20px;
  padding: 20px;
  background-color: #f6f6f6;
}

.row {
  width: 1500px;
  margin: 0;
}
.chick-total p{
  display: inline-block;
}

footer {
  background-color: #333;
  clear: left;
}

#footer-content {
  color: #ffffff;
}

#address {
  display: inline-block;
}

#hours {
  display: inline-block;
}
