<div>

<h2>Chick Orders Admin</h2>

<h4>Select Order Date</h4>
<select name="dateSelect" id="dateSelect" ng-model="dates.model">
  <option ng-repeat="date in dates.availableOptions" value="{{date.id}}">{{date.date}}</option>
</select>


</select>
<p>Status: {{dates.model}}</p>
<button>Activate</button>
<button>Deactivate</button>
<button ng-click="deleteOrderDate();">Delete</button>

<h4>Create New Order Date</h4>
<input ng-model="createDateData" type="date">
<button ng-click="createOrderDate();">Create Date</button>

<table>
  <tr>
    <th>Date</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Americauna</th>
    <th>Barred Rock</th>
    <th>Black Australorp</th>
    <th>Rhode Island Red</th>
    <th>Silver Laced Wyandaotte</th>
    <th>Gold Star</th>
    <th>California White</th>
    <th>Buff Orpington</th>
    <th>Total</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
</table>
</div>
